* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 60px Helvetica, Arial;
}

body {
}

form {
    background: #eee;
    padding: 10px;

    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 70%;
    margin-right: .5%;
}

form button {
    width: 29%;
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    border-radius: 4px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 10px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
